name: vts_component
description: Flutter UI Components

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  equatable: ^2.0.5
  flutter:
    sdk: flutter

  intl: ^0.18.0
  simple_gesture_detector: ^0.2.0
  touchable: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true
